/*RESET*********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*STRUTTURA*********************************************/
main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.carousel {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: navy;
}

#sub-carousel {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

.slides {
    width: 80%;
    height: 100%;
    display: none;
}

.label {
    position: relative;
    bottom: 100%;
    text-align: end;
    color: white;
    margin-right: 1rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side {
    position: relative;
    height: 100%;
    width: 20%;
}

.side-slide {
    width: 100%;
    height: 20%;
    position: relative;
}

.dark-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}

.disappear {
    display: none;
}

.border-select {
    border: 5px solid rgb(216, 127, 54);
}


.appear {
    display: block;
}